@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700');

$navbarheight: 48px;
$monsterhpheight: 24px;
$monsternameheight: 58px;

body, html, #root {
	margin: 0;
	width: 100%;
	height: 100%;
	font-family: "Monserrat", sans-serif;
}

#root {
	background-color: #20262e;
}

#app, .wrap {
	margin: 0;
	width: 100%;
	height: 100%;
	display: flex;
}

nav {
	z-index:100;
	position:absolute;
	width:100%;
	height: $navbarheight;
	background-color: #080d17;
	box-shadow: 0px 1px 7px 1px rgba(0,0,0,0.65);
	margin-bottom: $navbarheight;
}

.column {
	margin-top:$navbarheight;
	height:calc(100% - #{$navbarheight});
}

#column-1 {
	width: 25%;
	z-index: 4;
}

#column-2 {
	width: 41%;
	z-index: 3;
}

#column-3 {
	width:30%;
	z-index: 2;
}

#column-4 {
	width: 4%;
	min-width:75px;
	z-index: 1;
}

.skills-wrap {
	display:flex;
	flex-wrap:wrap;
}

@keyframes moveLeft {
	from {
		transform: translate(0, 0);
	}

	to {
		transform: translate(-35px, -180px);
	}
}

@keyframes moveRight {
	from {
		transform: translate(0, 0);
	}

	to {
		transform: translate(35px, -180px);
	}
}

.full-width-bar {
	width:100%;
	background-color: #12151a;
	height:$monsternameheight;
	box-shadow: 0 0 4px 1px rgba(0,0,0,.75);
}

.monster-wrap {
	z-index:1;
	position:relative;
	height: 50%;

	.monster-name-wrap {
		display:flex;
		justify-content:center;
		align-items:center;

		h1 {
			font-family: "Montserrat", sans-serif;
			margin:0;
			color:white;
			font-size:24px;
			font-weight:400;
		}
	}

	.monster-hitpoints {
		width:100%;
		height:$monsterhpheight;
		background-color: #e74c3c;
		box-shadow: inset 0px 0px 8px 2px #bf3729;
		position:relative;	
		z-index:-1;	

		&::after {
			content: "";
			display: block;
			width: 100%;
			height: 100%;
			box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.55);
		}

		.monster-hitpoints_stats {
			z-index:10;
			position:absolute;
			color:white;
			font-size:14px;
			text-align:center;
			line-height:$monsterhpheight;
			width:100%;
			font-weight:400;
		}

		.monster-current_hitpoints {
			position:absolute;
			height:100%;
			background-color: #2ecc71;
			box-shadow: inset 0px 0px 8px 2px #17924b;
			box-sizing: border-box;
			transition: width 0.075s ease-in;
		}
	}

	.monster-background {
		position:relative;
		width: 100%;
		height: calc(100% - 82px);
		background-image: url(https://pbs.twimg.com/media/DKzHK-LX0AEhMnF.jpg);
		background-size: cover;
		background-position: center;
		overflow: hidden;
	}

	.monster-image-wrap {
		position: absolute;
		left: calc(50% - 139px);
		top: calc(50% - 139px);
		width: 278px;
		height: 278px;
		border-radius: 100%;
		border: 6px solid #0f1319;
		padding: 34px;
		background: linear-gradient(to bottom, #22282f 0%,#1b2025 100%);
		box-sizing: border-box;
		box-shadow: 0 0px 20px 4px rgba(0, 0, 0, 0.55);
		user-select:none;
		cursor: pointer;

		#monster-hitsplats {
			position:absolute;
			top:0;
			left:0;
			width: 100%;
			height: 100%;

			.hitsplat {
				position:absolute;
				width:48px;
				height:46px;
				background-image: url("https://oldschool.runescape.wiki/images/0/07/Red_hitsplat.png");
				background-size:cover;	
				color:white;
				text-align:center;
				user-select:none;

				&.travelLeft {
					animation-duration: 2s;
					animation-timing-function: ease-in;
					animation-timing-function: cubic-bezier(.35,.47,.75,.1);
					animation-name: moveLeft;
				}

				&.travelRight {
					animation-duration: 2s;
					animation-timing-function: ease-in;
					animation-timing-function: cubic-bezier(.35,.47,.75,.1);
					animation-name: moveRight;
				}

				span {
					font-family: 'Montserrat', sans-serif;
					font-size:16px;
					font-weight:700;
					display:block;
					line-height: 46px;
					letter-spacing:1px;
				}
			}
		}

		img {
			display:block;
			height:100%;
			max-width:100%;
			margin:0 auto;
		}
	}
}

#coinDisplay {

	.coin-wrapper {
		display: flex;
		box-sizing: border-box;
		align-items: center;
		height: 100%;
		margin: auto 18px;

		#coinAmount {
			color: white;
			font-family: "Montserrat", sans-serif;
			font-size: 24px;
			font-weight: 400;
			padding-left: 6px;
			letter-spacing: 1px;
			display: inline-block;
		}
	}
}

.skill {
	display: flex;
    position: relative;
    align-items: center;
    width: 100%;
    height: 58px;
    box-sizing: border-box;
    background-color: #353f4c;
    text-align: center;
    padding: 0px 6px;
	 border: 1px solid #191e24;
	 border-top:none;
	&:first-of-type {
		border-top:1px;
	}

	&.selectable:not(.selected) {
		cursor:pointer;
	}

	&.selected {
		background-color: #516074;
	}

	&:hover:not(.selected) {
		background-color: #4a586a;
	}

	.skillImg-wrap {
		width:50%;
	}

	.skillLevel {
		width:50%;
		font-weight:400;
		color:white;
	}

	.skillProgress {
		position: absolute;
		width: 100%;
		height: 2px;
		left: 0;
		bottom: 0;
		background-color: #fff;
		opacity:0;
		transition:background-color 0.075s ease-in, opacity 0.075s ease-in;
		overflow:hidden;

		.skillProgressBar {
			position:absolute;
			left:0;
			height:100%;
			background-color:#e67e22
		}
	}  

	&:hover .skillProgress {
		opacity:1;
	}
}